<body>
    <video id="background-video" autoplay loop muted poster="/assets/images/bb.jpg">
        <source src="/assets/videos/nevermore.mp4" type="video/mp4">
      </video>
<h1><img width="100" height="100" src="/assets/images/beladonaicon.png" alt="beladona icon"></h1>
<section class= "bri">
    <img width="350" height="500" src="/assets/images/bella.jpg" alt="flor de beladona">
    <div class="parag">
       <h2 class = "perigo">A perigosa beladona</h2>
        <p>
            Atropa belladonna L., conhecida pelo nome comum de beladona, é uma planta subarbustiva perene pertencente à família Solanaceae, com distribuição natural na Europa, Norte de África e Ásia Ocidental e naturalizada em partes da América do Norte. A espécie é pouco tolerante à exposição directa à radiação solar, preferindo habitats sombrios com solos ricos em limo e úmidos, principalmente à beira de rios, lagos e represas.

A espécie A. belladonna não deve ser confundida com a amarílis, a espécie Amaryllis belladonna, uma herbácea bulbosa, da família das amarilidáceas. Outra planta comumente confundida com a beladona é a Solanum americanum, popularmente conhecida como maria-pretinha.
        </p>
    </div>
</section>

<section class="ali">
    <div class="thorn">
        <h2>O plano de Thornhill</h2>
        <p>
            Durante todos esses anos, Laurel preparou um plano de vingança, mudou sua identidade para renomear-se Marilyn Thornhill, e será contratada como a primeira professora normie em Nevermore. Marilyn então atacou o barista local em Weathervane, Tyler Galpin, desbloqueando à força seu Hyde através de drogas e tortura como uma maneira de coletar partes do corpo para que ela pudesse convocar seu ancestral, Joseph Crackstone, o fundador de Jericó.
        </p>
    </div>
    <img width="400" height="400" src="/assets/images/thornhill.jpg" alt="Thornhill">
</section>

</body>
