
<section>
<img src="/assets/images/wanda.jpg" alt="wandinha basica" width="250" height="350" center>
<div class="container">
    <h2>Wandinha é puro desgosto...</h2>
    <p>"Filha da desgraça, inteligente e delicada... silenciosa e aflita, ela adora escrever e explorar mistérios, adora a cor preta, uma criança solene, estilosa e, no geral, bastante perdida... secreta e imaginativa, poética, parece desprivilegiada e dá a acessos de raiva ocasionais... tem seis dedos em um pé..."</p>
</div>
</section>
